@import "assets/styles/variables";
@import "assets/styles/mixins";

.block {
    font-size: 30px;
    font-weight: 300;
    text-align: justify;

    h3 {
        font-weight: 500;
    }

    p {
        margin-top: 1.4em;
        line-height: 40px;

        &:last-child {
            font-weight: 600;
        }
    }


    @include respond-below(xxl) {
        font-size: 22px;

        p {
            line-height: 30px;
        }
    }
    @include respond-below(lg) {
        font-size: 12px;

        p {
            line-height: 16px;
        }
    }
}