.block {
    width: 1032px;
    font-size: 30px;
    font-weight: 300;
    text-align: justify;
    hyphens: manual;

    h3 {
        font-weight: 500;
    }

    p {
        margin-top: 1.4em;
        line-height: 40px;
        &:last-child {
            font-weight: 600;
        }
    }
}