@import '@assets/styles/variables';
@import '@assets/styles/mixins';

$track-color: #414141;
$thumb-color: $white;

.block {
  @include respond-below(lg) {
    padding-right: 20px;
    max-height: 57vh;
    //overflow-y: scroll;
    //scrollbar-color: $thumb-color $track-color;
    //
    //&::-webkit-scrollbar {
    //  width: 4px;
    //
    //  &-track {
    //    background: $track-color;
    //    border-radius: 5px;
    //  }
    //  &-thumb {
    //    background: $thumb-color;
    //    border-radius: 5px;
    //  }
    //
    //}

  }


  p {
    margin-top: 25px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 300;
    text-align: justify;
    &:first-child {
      margin-top: -10px;
      @include respond-below(lg) {
        margin-top: 0;
      }
    }

    @media screen and (max-width: 1485px) {
      font-size: 22px;
      line-height: 30px;
      margin-top: 22px;
    }

    @include respond-below(xxl) {
      margin-top: 18px;
      font-size: 18px;
      line-height: 23px;
    }
    @include respond-below(xl) {
      margin-top: 16px;
      font-size: 14px;
      line-height: 19px;
    }
    @include respond-below(lg) {
      margin-top: 20px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
