@import "assets/styles/variables";
@import "assets/styles/mixins";

.loader {
  width: 100%;
  height: 100%;
  overflow: clip;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  position: relative;

  h1 {
    font-size: 3rem;
    position: absolute;
    top: 25%;
    width: 255px;
    overflow: hidden;
    animation: flicker 1s linear infinite;

    span {
      display: block;
      width: calc(100% - 19px);
      
      &:after {
        display: block;
        width: 10%;
        overflow: hidden;
        content: '.....';

        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;

        animation: download .5s linear infinite;
      }
    }
  }

  svg {
    width: 211px;
    position: absolute;
    animation: loader 10s linear infinite;

    @include respond-below(xxl) {
      animation-duration: 8s;
    }
    @include respond-below(lg) {
      animation-duration: 5s;
    }
  }

  @keyframes flicker {
    from {
      opacity: 1;
    }
    50% {
      opacity: .3;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes download {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(10px);
    }
  }

  @keyframes loader {
    from {
      left: 0;
    }

    30% {
      left: calc(100vw - 2rem - 185px);
      transform: rotateY(0);
    }

    50% {
      transform: rotateY(-180deg);
      left: calc(100vw - 2rem - 185px);
    }

    80% {
      transform: rotateY(-180deg);
      left: 0;
    }

    to {
      transform: rotateY(0);
      left: 0;
    }
  }
}