.right {
    left: 80vw;
    bottom: -30vh;
    transform: rotate(10deg);
    @media screen and (device-aspect-ratio: 16/10) {
        bottom: 0;
    }
    @media screen and (device-aspect-ratio: 128/75) {
        bottom: 0;
    }
    @media screen and (device-aspect-ratio: 4/3) {
        bottom: 10vh;
    }
    @media screen and (device-aspect-ratio: 3/2) {
        bottom: 0;
    }
}
.bottom {
    left: 40vh;
    top: 55vh;
    @media screen and (device-aspect-ratio: 4/3) {
        left: 35vh;
        top: 70vh;
    }
    @media screen and (device-aspect-ratio: 3/2) {
        left: 35vh;
        top: 70vh;
    }
}