@import "assets/styles/variables";
@import "assets/styles/mixins";

.text {
  margin-top: 5px;
  font-size: 22px;
  line-height: 19px;
  @include respond-below(xxl) {
    font-size: 18px;
    line-height: 15px;
  }
  @include respond-below(lg) {
    margin-top: 0;
    font-size: 10px;
    line-height: 9.2px;
  }
}