@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.navigation {
    $button-height: 188px;
    $button-height-xxl: 140px;
    $button-height-xl: 120px;
    $button-height-lg: 80px;

    $gap: 80px;
    $gap-xxl: 50px;
    $gap-xl: 40px;
    $gap-lg: 30px;

    $container-height: var(--container-height);


    position: absolute;
    bottom: $container-padding;
    right: $container-padding;

    @include respond-below(xxl) {
        bottom: $container-padding-xxl;
        right: $container-padding-xxl;
    }
    @include respond-below(xl) {
        bottom: $container-padding-xl;
        right: $container-padding-xl;
    }
    @include respond-below(lg) {
        bottom: $container-padding-lg;
        right: $container-padding-lg;
    }


    display: flex;
    flex-direction: column;
    row-gap: $gap;

    @include respond-below(xxl) {
        row-gap: $gap-xxl;
    }
    @include respond-below(xl) {
        row-gap: $gap-xl;
    }
    @include respond-below(lg) {
        row-gap: $gap-lg;
    }

    .button {
        padding: 0;
        background: none;
        border: none;
        color: inherit;
        font-family: inherit;

        display: flex;
        height: $button-height;

        @include respond-below(xxl) {
            height: $button-height-xxl;
        }
        @include respond-below(xl) {
            height: $button-height-xl;
        }
        @include respond-below(lg) {
            height: $button-height-lg;
        }

        .arrow {
            max-height: 100%;

            &_prev {
                transform: rotate(180deg);
            }
        }

        span {
            writing-mode: vertical-lr;
            transform: rotate(180deg);

            font-size: 30px;
            font-weight: 300;
            line-height: 75px;

            @include respond-below(xxl) {
                font-size: 22px;
                line-height: 55px;
            }
            @include respond-below(xl) {
                font-size: 20px;
                line-height: 40px;
            }
            @include respond-below(lg) {
                font-size: 13px;
                line-height: 25px;
            }

        }

        &_prev {
            align-items: flex-end;
        }
    }
}