@import 'assets/styles/variables';

.button {
  display: block;
  max-width: max-content;
  margin: auto;

  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  color: $white;
  border: 2px solid transparent;

  transition: color .1s, border-color .1s;

  user-select: none;
  padding: 15px 45px;
  border-radius: 10.925px;
  background: radial-gradient(
      133.33% 181.59% at 26.88% -39.73%,
      #f04cd8 0,
      rgba(226, 54, 201, 0) 100%
    ),
    linear-gradient(205deg, #ff666f 2.39%, #f33333 51.77%, #f00 100%);
  box-shadow:
    0 0 6.554993152618408px 0 rgba(255, 255, 255, 0.37) inset,
    0 19.664976119995117px 32.774967193603516px -15.294984817504883px rgba(188, 46, 46, 0.64),
    0 3.64166259765625px 0 -1.4566651582717896px #bc2e2e;

  &:active {
    color: darken($white, 10%);
    border: 2px solid lighten($black, 45%);
  }
}
