.top {
  bottom: 25%;
  right: -25%;
  @media screen and (aspect-ratio: 16/10) {
    bottom: 40%;
    right: -40%;
  }
}
.bottom {
  top: 25%;
  left: -10%;
  @media screen and (aspect-ratio: 16/10) {
    top: 40%;
    left: -15%;
  }
}
