@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.card {
  display: grid;
  height: 400px;
  grid-auto-rows: min-content 1fr 1fr;

  @include respond-below(xxl) {
    height: 300px;
  }
  @include respond-below(lg) {
    height: 160px;
  }

  .heading {
    padding: 10px 0;
    border-radius: 8px;
    border: 1px solid $white;
    background-color: $white-transparent;
    backdrop-filter: blur(38px);
    text-align: center;

    h3 {
      font-size: 22px;
      font-weight: 400;
    }

    span {
      display: block;
      font-size: 26px;
      font-weight: 700;
    }

    @media screen and (max-width: 1651px) {
      h3 {
        font-size: 20px;
      }
      span {
        font-size: 22px;
      }
    }

    @include respond-below(xxl) {
      padding: 8px 0;
      border-radius: 6.5px;
      h3 {
        font-size: 16px;
      }
      span {
        font-size: 18px;
      }
    }
    @include respond-below(xl) {
      h3 {
        font-size: 14px;
      }
      span {
        font-size: 16px;
      }
    }
    @include respond-below(lg) {
      padding: 4px 0;
      border-radius: 4px;
      h3 {
        font-size: 10px;
      }
      span {
        font-size: 12px;
      }
    }
  }

  .content {
    margin-top: 40px;
    font-size: 17px;
    font-weight: 300;

    @include respond-below(xxl) {
      margin-top: 30px;
      font-size: 13px;
    }
    @include respond-below(lg) {
      margin-top: 10px;
      font-size: 8px;
    }
  }

  .labels {
    align-self: end;
    display: flex;
    flex-direction: column;

    .label {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-auto-rows: 50px;
      align-items: center;

      @include respond-below(xxl) {
        .image {
          width: 20px;
        }
        &__text {
          font-size: 12px;
        }
      }
      @include respond-below(lg) {
          grid-auto-rows: 25px;
      }

      .image {
        display: flex;
        justify-content: center;
        width: 30px;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      &__text {
        margin-left: 5px;
        font-size: 15px;
        color: $pink;
      }

      @include respond-below(lg) {

        .image {
          width: 10px;
        }
        &__text {
          font-size: 7px;
        }
      }
    }
  }
}
