@import "assets/styles/variables";
@import "assets/styles/mixins";

.heading {
  margin-top: 60px;
  font-size: 58px;
  font-weight: 700;

  @include respond-below(xxl) {
    margin-top: 40px;
    font-size: 45px;
  }
  @include respond-below(lg) {
    margin-top: 0;
    font-size: 20px;
  }
}