body {
    font-family: "TT Commons", sans-serif;
    background-color: $black;
    color: $white;
}

main {
    min-height: 100vh;
    overflow: clip;
}

.container {
    position: relative;
    padding: $container-padding;

    @include respond-below(xxl) {
        padding: $container-padding-xxl;
    }
    @include respond-below(xl) {
        padding: $container-padding-xl;
    }
    @include respond-below(lg) {
        padding: $container-padding-lg;
    }

    &_full {
        min-height: 100vh;
    }
}

.parallax_item {
    position: absolute;
    width: 100%;
    height: auto;
}