button {
    font-family: inherit;
}

html, body, #__next, main {
    height: 100%;
}

html {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-family: "TT Commons", sans-serif;
    background-color: $black;
    color: $white;
}

main {
    min-height: 100vh;
    //overflow: clip;
    //overflow: hidden;
}

.container {
    position: relative;
    padding: $container-padding;



    @include respond-below(xxl) {
        padding: $container-padding-xxl;
    }
    @include respond-below(xl) {
        padding: $container-padding-xl;
    }
    @include respond-below(lg) {
        padding: $container-padding-lg;
    }

    &_full {
        height: 100%;
    }
}

.parallax_item {
    position: absolute;
    width: 100%;
    height: auto;
}

.os-theme-light {

    &.os-scrollbar-vertical {
        --os-size: 9px;
        --os-track-border-radius: 10px;
        --os-track-bg: #414141;
        --os-handle-max-size: 62px;
        --os-handle-bg: #fff;
        --os-track-bg-hover: #414141;
    }
}